<div class="justify-content-center text-center">
    <div class="d-flex justify-content-center mt-4">
        <h1 class="text-warning">Lista de Tareas</h1>
    </div>
    <ul class="list-group w-50 mx-auto">
        @for(tarea of tareas; track tarea){
            <li class="list-group-item">
                <p>{{tarea}}</p>
            </li>
        }
    </ul>

    <div class="">
        <div class="d-flex flex-column justify-content-center mt-4">
            <h3 class="text-success">Agregar una tarea nueva</h3>
            <input type="text" class="mt-4 mx-auto w-25" #inputTask>
            <button class="mt-4 mx-auto btn btn-primary" (click)="addTask(inputTask.value); inputTask.value=''">Agregar</button>
        </div>
    </div>
</div>