<div class="d-flex flex-column text-center mt-3">
        <h1>Tienda Online</h1>
    
    <div class="w-50 mx-auto">
        <ul>
            @for(producto of inventario; track producto.descripcion){
                <li>{{producto.descripcion}},{{producto.precio}}</li>
            }
        </ul>
    </div>

    <div class="mt-3 w-50 mx-auto d-flex flex-column">
        <h3>Agregar un producto nuevo</h3>

        <div class="mt-3 w-50 mx-auto d-flex">
            <input placeholder="Nombre del producto" #descInput class="">
            <input placeholder="Precio del producto" #priceInput>
            <button (click)="addProduct(descInput.value,priceInput.value); descInput.value=''; priceInput.value=''">Agregar</button>
        </div>
        
    </div>
</div>